


.hero{
    position: relative;
    opacity: 1;
    
}

.section-img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.section-img img{
    width: 100%;
    height: 100%;
}

.black-screen{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    
}


.box{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.movie-information{
    width: 66%;
    height: 60vh;
    z-index: 2;
    position: relative;
}


.description-container{
    max-height: 40vh;
    overflow-y: auto;
}
.movie-title,.movie-description{
    color: white;
}
.movie-title{
    font-size: 6.4rem;
    font-size: clamp(4.8rem,2.4vw,6.4rem);
    letter-spacing: 1px;
    font-family: 'Bebas Neue';
    text-shadow: 0px 0px 1px black;
}
.movie-description{
    font-size: 2.4rem;  
    font-size: clamp(1.8rem,2.4vw,2.4rem);
    text-shadow: 0px 0px 1px black;
    text-overflow: ellipsis;
}

.section-link{
    display: inline-block;
    font-size: 3.2rem;
    font-size: clamp(2.4rem,2.4vw,3.2rem);
    margin: 2rem 0;
    text-decoration: none;
    background-color: #5D8BF4;
    box-shadow: 0px 0px 2px #5D8BF4,0px 0px 2px #5D8BF4;
    color: #DFF6FF;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
}
.section-link:hover{
    opacity: 0.9;
}
.poster-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    column-gap: 30px;
    row-gap: 30px;
    margin: 0.5rem 0;
    justify-content: center;
    
}



@media (max-width:900px){
    .hero{
        background-size:100% 100%;
    }
    .movie-information{
        width: 90%;
        height: 70%;
    }
}

    
@keyframes fadein{
    from{
        background-color: yellow;
    }
    to{
        background-color: red;
    }
}
@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}