{% extends 'theater/base.html' %}
{% load static %}




{% block head %}
<link rel="stylesheet" href="{% static 'theater/css/board.css' %}">
<link rel="stylesheet" href="{% static 'theater/css/poster.css' %}">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-banner">
            <img src="{% static 'theater/images/pexels-pixabay-33129.jpg' %}" alt="" class="banner">
            <div class="banner-dark-frame"></div>
            <div class="banner-title-container">
                <h1 class="banner-title">Cartelera</h1>
            </div>
        </div>
        <div class="poster-grid">
            {% for poster in data %}
                <div class="poster">
                    <img src="{{poster.banner_url}}" alt="" class="poster-img">
                    <div class="poster-frame">
                        <h1 class="poster-frame-title">{{poster.title}}</h1>
                        <p class="poster-frame-description">{{poster.description}}</p>
                        <a href="#" class="poster-frame-link">Ver</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}