{% extends 'theater/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'theater/css/home.css' %}">
<link rel="stylesheet" href="{% static 'theater/css/poster.css' %}">

{% endblock %}


{% block content %}
<!--

<div class="box">
    <div class="section-img">
        <img src="{{board.movie.banner_url}}" alt="">
    </div>
    <div class="black-screen"></div>
    <div class="movie-information">
        <div class="title-container">
            <h1 class="movie-title">{{board.movie.title}}</h1>
        </div>
        <div class="description-container">
            <p class="movie-description">{{board.movie.description}}</p>
        </div>
        <div class="link-container">
            <a href="#" class="section-link">Ver</a>
        </div>
    </div>
</div>

-->

<section class="section hero">
    {% for board in data %}
        <div class="box">
            <div class="section-img">
                <img src="{{board.movie.banner_url}}" alt="">
            </div>
            <div class="black-screen"></div>
            <div class="movie-information">
                <div class="title-container">
                    <h1 class="movie-title">{{board.movie.title}}</h1>
                </div>
                <div class="description-container">
                    <p class="movie-description">{{board.movie.description}}</p>
                </div>
                <div class="link-container">
                    <a href="#" class="section-link">Ver</a>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
<section class="section">
    <h1 class="section-title">Cartelera</h1>
    <div class="poster-container">
        {% for poster in data %}
            <div class="poster">
                <img src="{{poster.banner_url}}" alt="" class="poster-img">
                <div class="poster-frame">
                    <h1 class="poster-frame-title">{{poster.title}}</h1>
                    <p class="poster-frame-description">{{poster.description}}</p>
                    <a href="#" class="poster-frame-link">Ver</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


{% block script %}
    <script src="{% static 'theater/js/home.js' %}"></script>
{% endblock %}